<div class="row">
    <div class="col-md-3 btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <div class="col-md-12 flex-row align-items-center justify-content-center">
          <div class="row mt-2">
            <!-- <div class="form-check">
              <input class="form-check-input" name="LMP" type="checkbox" id="checkbox1">
              <label class="form-check-label" for="checkbox1">LMP</label>
            </div> -->
            <div class="input-group mb-3">
                <label for="lmp">LMP</label>
                <input type="date" class="ms-2 form-control" name="LMP" required>
            </div>
          </div>
          <div class="row mt-2 ">
            <!-- <div class="form-check">
              <input class="form-check-input"  name="EDD" type="checkbox" id="checkbox2">
              <label class="form-check-label" for="checkbox2">EDD</label>
            </div> -->
            <div class="input-group mb-3 ">
                <label for="edd">EDD</label>
                <input type="date" class="ms-2 form-control" name="EDD" required>
            </div>
          </div>
          <div class="row mt-2 ">
            <div class="form-check">
              <label class="form-check-label" for="gravid">GRAVID</label>
              
              <input class="form-check-input ms-2" name="GRAVID" type="checkbox" id="gravid">
              
            </div>
          </div>
            
          <div class="row mt-2">
            <div class="input-group mb-3">
                <label for="parity">Parity</label>
                <input type="number" class="ms-2 form-control" name="PARITY" required>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row mt-4">
              <button class="btn btn-secondary" type="submit">Submit form</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    
    
   
</div>